services:
  - type: web
    name: eventhub
    runtime: docker
    repo: https://github.com/stefanijalazareva/EventHub
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: UseSqlServer
        value: false
      - key: ConnectionStrings__DefaultConnection
        value: Data Source=/var/data/EventHub.db
      - key: Email__SmtpHost
        value: smtp.gmail.com
      - key: Email__SmtpPort
        value: 587
      - key: Email__SenderEmail
        value: bsproduction83@gmail.com
      - key: Email__SenderPassword
        sync: false  # Add this in Render dashboard
      - key: SerpApi__ApiKey
        value: e7148c2413b3ac8015a66f2692095a6bb655e6272a02f1927ef2ce732efa63c1
    healthCheckPath: /
    disk:
      name: eventhub-data
      mountPath: /var/data
      sizeGB: 1
